.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
wc2.1_5m_srad.zip
wc2.1_5m_tavg.zip
wc2.1_5m_tmax.zip
wc2.1_5m_tmin.zip
wc2.1_5m_vapr.zip
wc2.1_5m_wind.zip
wc2.P00V9HtW.1_5m_vapr.zip.part
wc2.PDx-tfS3.1_5m_tavg.zip.part
wc2.kZglU2Dn.1_5m_tmax.zip.part
wc2.r-Rz0SfP.1_5m_wind.zip.part
worldclim_base_v21_current_bio_10m.zip
worldclim_base_v21_current_bio_5m.zip
worldclim_base_v21_current_elev_10m.zip
worldclim_base_v21_current_elev_5m.zip
worldclim_base_v21_current_prec_10m.zip
worldclim_base_v21_current_prec_5m.zip
worldclim_base_v21_current_srad_10m.zip
worldclim_base_v21_current_tavg_10m.zip
worldclim_base_v21_current_tmax_10m.zip
worldclim_base_v21_current_tmin_10m.zip
worldclim_base_v21_current_vapr_10m.zip
worldclim_base_v21_current_wind_10m.zip
worldclim_base_v21_future_bio_10m.csv
worldclim_base_v21_future_tmax_10m.csv
spp_data.csv
teste
WorldClim_data_unzipped
WorldClim_data
worldclim_base_v21_current_elev_2_5m.zip
worldclim_base_v21_current_prec_2_5m.zip
worldclim_base_v21_current_srad_5m.zip
worldclim_base_v21_current_tavg_5m.zip
worldclim_base_v21_current_tmax_5m.zip
worldclim_base_v21_current_tmin_5m.zip
worldclim_base_v21_current_vapr_5m.zip
worldclim_base_v21_current_wind_5m.zip
worldclim_base_v21_current_bio_2_5m.zip
worldclim_base_v21_current_elev_30s.zip
worldclim_base_v21_current_srad_2_5m.zip
worldclim_base_v21_current_t_2_5m.zip
worldclim_base_v21_current_tavg_2_5m.zip
worldclim_base_v21_current_tmax_2_5m.zip
worldclim_base_v21_current_tmin_2_5m.zip
worldclim_base_v21_current_vapr_2_5m.zip
worldclim_base_v21_current_wind_2_5m.zip
worldclim_base_v21_current_wind_30s.zip
docs
